// ---SweetAlert2 Fixes (Start)---

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100% !important;
  overflow-y: visible !important;
}

.swal2-shown {
  overflow: visible !important;
}

.swal2-icon.swal2-warning::before {
  content: unset;
}
// ---SweetAlert2 Fixes (End)---

.k-list-scroller{
  font-size: 14px;
}

.k-popup{
  padding: 0px;
}
.Window_EOXAppBuilder {
  $primary-color: #275362;
  .form-render{
    .choices__list--dropdown .choices__list{
      max-height: 200px;
    }
  }

  .formContent {
    height: 100%;
    overflow: scroll;
    font-size: xx-small;

    padding: 10px;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    background-color: $primary-color;
  }
  .btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .k-button.k-primary {
    /*border-color: $primary-color;*/
    color: #fff;
    /*background-color: $primary-color;*/
  }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .form-control:focus {
    border-color: $primary-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #275362b8;
  }

  .page-link {
    color: $primary-color;;
  }
  //custom render buttons for Appbuilder
  .appButtons {
    max-height: 45px !important;
    justify-content: flex-end !important;
    flex-wrap: unset !important;
    padding-right: 1.5%;
    gap: 1rem;
    .moduleBtn {
        .titles {
            display: none;
        }
        .block {
            box-shadow: 0px 0px 4px 0px grey;
            height: 30px !important;
            width: 30px !important;
            color: #345561 !important;
            background-color: #e4e7eb !important;
            font-size: 14px !important;
            padding: 16px !important;
            border-radius: 50% !important;
            &:focus {
                background-color: #c5d2d6 !important;
            }
            &:active {
                border: 3px solid #92c6fb !important;
                transition: 0.25s ease-in all !important;
            }
        }
    }
 }
  .datagrid-table{
    
    .table .datagrid-table .table-bordered td{
      border: none;
    }

    th {
    font-weight: normal;
    color: #9e9e9e;
    font-size: 14px;
    }
    tr {
      td {
        border: none;
      }
    }
  }
  td{
    .card-body{
      border:none;
      padding: 0.5rem  ;
      background-color: #fff !important;
    }
  }
  .formio-dialog-content{
    background-color: #fff !important;
  }
  
  .form-group .has-feedback .formio-component .formio-component-datagrid .formio-component-content .formio-component-label-hidden, .card .card-body .bg-light, .table .table-striped .table-bordered td{
    border: none;
  }

  .k-grid th {
    padding: 0.1rem 0.2rem !important;    
  }
  .k-grid td {
    padding: 0.4rem 0.2rem !important;
  }
  .k-grid-column-menu.k-grid-filter{
    padding: 15px 0px 0px 0px;
  }

  input, span, label{
    font-size: 14px;
    color: #275362;
  }
  .form-control{
    padding: 0.25rem 0.5rem;
  }
  .datagrid-table{
    td,th{
    padding: 0.4rem !important;
    }
  }
  .formio-button-remove-row{
    padding: 0 !important;
    background: transparent !important;
    color: #6C757D !important;
    border: none !important;
  }
}

